@import "~bootstrap/scss/bootstrap";
@import "variables.scss";
@import "utilities.scss";

body {
    background-color: #dee2e6;
}

.navbar {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;

    .navbar-collapse {
        flex-grow: unset;

        .navbar-nav {
            margin-right: 0;
        }
    }
}

.app-content {
    display: flex;
    gap: 10px;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 24px;
}

.list-of-ads {
    img {
        display: block;
        max-width: 300px;
    }
}