{% extends 'base.html.twig' %}

{% block body %}
    <h3 class="mb-4 mt-3">Ads</h3>

    <div class="card mb-3">
        <div class="card-header">
            Add new Ad
        </div>
        <div class="card-body">
            {{ form(form, {'attr': {'novalidate': 'novalidate'}}) }}
        </div>
    </div>
{% endblock %}