{% extends 'base.html.twig' %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title mb-0">Ads</h5>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            actions
        </div>
    </div>
{% endblock %}