{% extends 'base.html.twig' %}

{% block body %}
    <h3 class="mb-4 mt-3">Dashboard</h3>

    <div class="card">
        <div class="card-body">
            actions
        </div>
    </div>
{% endblock %}